@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-variant: small-caps;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar{
    width: 100%;
    height: 3rem;
    padding: 2.5rem;
    display: flex;
    font-size: 1.3rem;
    color: white;
    align-items: center;
    justify-content: space-between;
    background: #3CA55C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

.logo{
    font-family: 'Allerta Stencil', sans-serif;
    font-size: xx-large;
}

.navLinks{
    display: flex;
    list-style-type: none;
    column-gap: 50px;
    align-items: center;
}

.navlinks li{
    padding: 0;
    margin: 0;
}

.navLinks li a{
    text-decoration: none;
    color: gainsboro;
}

.navLinks li a:hover, .navLinks li a:active {
    color: white;
    text-shadow: 0 0 5px white;
}

.modalButton{
    text-align: center; 
    width: 10rem;
    color: white; 
    border-radius: 40px; 
    font-size: 1.3rem;
    padding: 0.5rem;
    background-color: green;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, 0.581);
    transition: opacity .25s ease;
    z-index: 10;
    
}

.modalHeading{
    padding: 1rem;
}

.modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  
  .modal-state {
    display: none;
  }
  
  .modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
  }
  
  .modal-state:checked + .modal .modal__inner {
    top: 0;
  }
  
  .modal__inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 70%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 85%;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid darkgreen;
    padding: 2rem;
    box-shadow: -0px -0px 20px 2px white;
    border-radius: 1.5rem;
  }
  
  .modal__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
  }
  
  .modal__close:after,
  .modal__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
  }
  
  .modal__close:hover:after,
  .modal__close:hover:before {
    background: red;
  }
  
  .modal__close:before {
    transform: rotate(-45deg);
  }
  
  .modalButton:hover,
  .modalButton:focus {
    background: #2ecc71;
  }
  
  .modalButton:active {
    background: #27ae60;
    box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
  }
  

.formInputs{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

input{
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid darkgreen;
}

.formInputs select{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    
}

.formBlock{
    display: block;
}

.bigLabel{
    font-size: 1rem;
    display: inline-flex;
    column-gap: 1rem;
}

.formButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.formButton{
    width: 6rem;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1rem;

}

.red{
    background-color: rgba(255, 0, 0, 0.833);
}

.green{
    background-color: rgb(10, 193, 10);
}

.gridContainer{
    width: 100%;
    margin: 0 auto;
    padding: 2rem 20rem;
    background: #3CA55C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.item {
    width: 9rem;
    height: 9rem;
    background-color: white;
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 2s;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.item::before {
    content: '';
    position: absolute;
    width: 9rem;
    height: 9rem;
}

.firstRow {
    display: grid;
    justify-content: center;
    grid-template-columns: 11rem;
}

.secondRow {
    display: grid;
    justify-content: center;
    grid-template-columns: 11rem 11rem 11rem 11rem;
    margin: -20px 0 0 5px;
}

.thirdRow {
    display: grid;
    justify-content: center;
    grid-template-columns: 11rem 11rem 11rem 11rem;
    margin: -20px 0 0 -170px;
}

.fourthRow {
    display: grid;
    justify-content: center;
    grid-template-columns: 11rem 11rem 11rem 11rem;
    margin: -20px 0  0 5px;
}

.fifthRow {
    display: grid;
    justify-content: center;
    grid-template-columns: 11rem;
    margin: -20px 0  0 5px;
}

.firstRow .item {
    background-image: url("./assets/icons8-html-512.png");
}

.secondRow .item:nth-child(1) {
    background-image: url("./assets/icons8-css-512.png");
}

.secondRow .item:nth-child(2) {
    background-image: url("./assets/js-file.png");
    background-size: 75%;
}

.secondRow .item:nth-child(3) {
    background-image: url("./assets/icons8-bootstrap-512.png");
}

.secondRow .item:nth-child(4) {
    background-image: url("./assets/icons8-tailwindcss-512.png");
}

.thirdRow .item:nth-child(1){
    background-image: url("./assets/icons8-react-native-512.png");
}

.thirdRow .item:nth-child(2){
    background-image: url("./assets/icons8-angularjs-512.png");
}

.thirdRow .item:nth-child(3){
    background-image: url("./assets/icons8-express-js-512.png");
}

.thirdRow .item:nth-child(4){
    background-image: url("./assets/mongodb.png");
    background-size: 75%;   
}

.fourthRow .item:nth-child(1) {
    background-image: url("./assets/java.png");
    background-size: 75%;
}

.fourthRow .item:nth-child(2) {
    background-image: url("./assets/python.png");
    background-size: 75%;   
}

.fourthRow .item:nth-child(3) {
    background-image: url("./assets/php.png");
    background-size: 73%;   
}

.fourthRow .item:nth-child(4) {
    background-image: url("./assets/icons8-redux-512.png");
}

.fifthRow .item:nth-child(1) {
    background-image: url("./assets/seo.png");
    background-size: 75%;   
}

.item:hover{
    width: 9rem;
    height: 9rem;
    transform: rotate(360deg);
    z-index: 2;
}

.aboutUsContainer{
    display: flex;
    margin: 0 auto;
    padding: 5.8rem 12rem;
    background-color: beige;
}


.aboutUsContainer .subheading{
    color: slategrey;
    letter-spacing: 0.3rem;
    font-size: x-large;
}

.aboutUsContainer .aboutHeading{
    color: green;
    font-size: xx-large;
    margin: 2rem 0;
    text-shadow: 0px 0px  15px #B5AC49;
}

.aboutUsContainer .aboutPara{
    margin-bottom: 2rem;
}

.about-us-image{
    background: #3CA55C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    clip-path: polygon(49% 7%, 100% 0, 84% 26%, 100% 100%, 57% 93%, 47% 91%, 0 100%, 14% 77%, 0 0);

}

.about-us-image img{
    height: 570px;
}

.sectionHeading{
    display: block;
    color: slategrey;
    letter-spacing: 0.3rem;
    font-size: x-large;
    margin: 2rem;
}

.technologyCards{
    display: flex;
    margin: 0 auto;
    padding: 6rem 12rem;
    gap: 5rem 10rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    border: 1px solid black;
    box-shadow: 0 0 10px 2px grey;
    border-radius: 1rem;
    padding-bottom: 1rem;
}
.cardHead{
    height: 50%;
    text-align: center; 
    padding: 0.5rem;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 1px solid black;
    background-image: linear-gradient(to left, #B5AC49 0%, #3ca55c 100%);
}

.cardHead img{
    height: 100%;
    border-radius: 1rem;
}

.cardBody{
    height: 100%;
    border-radius: 1rem;
    font-weight: bold;
    padding: 1rem;
    overflow-y: scroll;
}

.courseWrapper{
    background-color: beige;
}

#coursesOffered {
    text-align: center;
}

.courseCombination{
    display: flex;
    gap: 12rem 15rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 6rem 12rem;
}

.spinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
}

/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
    position: relative;
    top: 25px;
    left: 25px;
    height: 300px;
    width: 300px;
  }
  
  /* ---------- Inner orbit - This is the circles closest to the central point ---------- */
  .inner-orbit {
    position: absolute;
    top: 75px;
    left: 75px;
    width: 150px;
    height: 150px;
    border: 2px silver dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 20s linear infinite;
  }
  
  /* ---------- Repeating styles for the inner orbiting circles ---------- */
  .inner-orbit-cirlces {
    position: absolute;
    top: 50px;
    left: -25px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: transparent;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .htmlLogo{
    background-image: url("/assets/icons8-html-512.png");
  }

  .bootstrapLogo{
    background-image: url("./assets/icons8-bootstrap-512.png");
  }

  .tailwindLogo{
    background-image: url("./assets/circular-tailwindcss-512.png");
  }

  .nodeLogo{
    background-image: url("./assets/node-js.png");
    background-size: 80%;
  }

  .mongoLogo{
    background-image: url("./assets/mongodb.png");
    background-size: 80%;
  }

  .expressLogo{
    background-image: url("./assets/icons8-express-js-512.png");
    background-color: white;
    background-size: 80%;
  }

  .innerDualLogos{
    top: 40px;
    left: 120px;
  }
  
  /* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
  .middle-orbit {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 225px;
    height: 225px;
    border: 2px silver dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 15s linear infinite;
    animation: spin-left 15s linear infinite;
  }
  
  /* ---------- Repeating styles for the inner orbiting circles ---------- */
  .middle-orbit-cirlces {
    position: absolute;
    top: 88px;
    left: -27px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: transparent;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

  }

  .middleDualLogos{
    top: 118px;
    left: 190px;
  }

  .cssLogo{
    background-image: url("/assets/icons8-css-512.png");
  }

  .sassLogo{
    background-image: url("./assets/icons8-sass-avatar-512.png");
    background-size: 75%;
  }

  .phpLogo{
    background-image: url("./assets/php.png");
    background-size: 80%;
  }
  
  /* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
  .outer-orbit {
    position: absolute;
    top: 0;
    left: 0;
    width: 294px;
    height: 294px;
    border: 2px silver dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 20s linear infinite;
    animation: spin-right 10s linear infinite;
  }
  
  /* ---------- Repeating styles for the outer orbiting circles ---------- */
  .outer-orbit-cirlces {
    position: absolute;
    top: 122px;
    left: -27px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: transparent;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .outerDualLogos{
    top: 50px;
    left: 247px;
  }

  .outerMultiLogos{
    top: 190px;
    left: 247px;
  }

  .outerQuadLogos{
    top: 264px;
    left: 75px;
  }

  .jsLogo{
    background-image: url("/assets/js-file.png");
  }

  .reactLogo{
    background-image: url("/assets/circular-react-native-512.png");
  }

  .angularLogo{
    background-image: url("/assets/icons8-angularjs-512.png");
  }

  .javaLogo{
    background-image: url("./assets/java.png");
  }

  .pythonLogo{
    background-image: url("./assets/python.png");
  }

  .seoLogo{
    background-image: url("./assets/seo.png");
  }
  
  /* ---------- Animation ---------- */
  @-webkit-keyframes spin-right {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spin-left {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(-360deg);
    }
  }

  .small{
    font-size: large;
    text-align: center;
    color: green;
    text-shadow: 0px 0px  15px #B5AC49;
  }

  .smallparagraph{
    font-size: medium;
    color: black;
    letter-spacing: normal;
    text-align: center;
    margin: 15px;
  }

  .footerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10rem;
    background: #3CA55C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding: 5rem;
  }

  .footerSocialIcons{
    display: flex;
    gap: 1rem;
  }

  .footerSocialIcons a img:hover{
    border-radius: 50%;
    scale: 1.1;
  }